@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #ffffff;
    --font-inter: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter);
}

.font-sans {
    font-family: var(--font-inter);
}

.font-mono {
    font-family: var(--font-mono);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}